In [374]:
import pandas as pd 
import numpy as np
import helpers
#from datetime import date

%load_ext autoreload
%autoreload 2
%matplotlib inline


import datetime as dt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [375]:
dates = [dt.datetime(2020, 1, 1), dt.datetime(2020, 2, 1)]

In [376]:
today = date(2020, 8, 18)

In [377]:
np.datetime64(today)

numpy.datetime64('2020-08-18')

In [366]:
#df = pd.read_clipboard()

In [346]:
df

,Symbol,Description,Quantity,Price,Price Change $,Price Change %,Market Value,Day Change $,Day Change %,Cost Basis,Gain/Loss $,Gain/Loss %
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,NaN,NaN,"$25,156.25",NaN,NaN,"$25,352.14",-$195.89,-0.77%
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,NaN,NaN,"$27,186.15",NaN,NaN,"$24,806.50","$2,379.65",9.59%
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,NaN,NaN,"$9,950.00",NaN,NaN,"$10,051.42",-$101.42,-1.01%
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,NaN,NaN,"$25,968.75",NaN,NaN,"$26,267.98",-$299.23,-1.14%
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,NaN,NaN,"$26,338.08",NaN,NaN,"$24,053.00","$2,285.08",9.5%
5,34540TTJ1,FORD MOTOR CO 4.4%25 DUE 06/20/25,"25,000",$91.59,NaN,NaN,"$22,896.65",NaN,NaN,"$25,188.36","-$2,291.71",-9.1%
6,36962G5J9,GENERAL ELECTRIC 4.65%21 DUE 10/17/21,"25,000",$103.35,NaN,NaN,"$25,837.15",NaN,NaN,"$25,375.12",$462.03,1.82%
7,527288BE3,JEFFERIES FINL GR 5.5%23 DUE 10/18/23,"10,000",$110.34,NaN,NaN,"$11,034.09",NaN,NaN,"$11,215.93",-$181.84,-1.62%
8,46625HJC5,JPMORGAN CHASE & 4.35%21 DUE 08/15/21,"25,000",$103.97,NaN,NaN,"$25,993.33",NaN,NaN,"$25,332.98",$660.35,2.61%
9,61166WAU5,MONSANTO CO 3.375%24 DUE 07/15/24,"15,000",$105.25,NaN,NaN,"$15,787.40",NaN,NaN,"$15,830.16",-$42.76,-0.27%
10,71654QCB6,PETROLEOS MEXI6.875% 26F DUE 08/04/26,"25,000",$100.53,NaN,NaN,"$25,132.38",NaN,NaN,"$25,884.01",-$751.63,-2.9%
11,74348Y2V2,PROSPECT CAPITAL MA 4%25 DUE 01/15/25,"10,000",$93.18,NaN,NaN,"$9,317.63",NaN,NaN,"$9,950.00",-$632.37,-6.36%
12,747262AU7,"QVC, INC. 4.45%25 DUE 02/15/25","4,000",$102.75,NaN,NaN,"$4,110.00",NaN,NaN,"$4,140.26",-$30.26,-0.73%
13,44106MBA9,SERVICE PROPERTI 4.75%26 DUE 10/01/26,"25,000",$89.29,NaN,NaN,"$22,323.20",NaN,NaN,"$25,686.92","-$3,363.72",-13.1%
14,858119BH2,"STEEL DYNAMICS, 4.125%25 DUE 09/15/25","9,000",$102.38,NaN,NaN,"$9,213.75",NaN,NaN,"$9,264.17",-$50.42,-0.54%

In [378]:
df = pd.read_csv('port.csv', index_col=0)

In [362]:
#df.to_csv('port.csv')

In [379]:
port = df
port.head()

,Symbol,Description,Quantity,Price,Price Change $,Price Change %,Market Value,Day Change $,Day Change %,Cost Basis,Gain/Loss $,Gain/Loss %
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,NaN,NaN,"$25,156.25",NaN,NaN,"$25,352.14",-$195.89,-0.77%
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,NaN,NaN,"$27,186.15",NaN,NaN,"$24,806.50","$2,379.65",9.59%
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,NaN,NaN,"$9,950.00",NaN,NaN,"$10,051.42",-$101.42,-1.01%
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,NaN,NaN,"$25,968.75",NaN,NaN,"$26,267.98",-$299.23,-1.14%
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,NaN,NaN,"$26,338.08",NaN,NaN,"$24,053.00","$2,285.08",9.5%

In [380]:
port.drop(columns=['Price Change $', 'Price Change %', 'Day Change $', 'Day Change %'], inplace=True)

In [381]:
port.head()

,Symbol,Description,Quantity,Price,Market Value,Cost Basis,Gain/Loss $,Gain/Loss %
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,"$25,156.25","$25,352.14",-$195.89,-0.77%
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,"$27,186.15","$24,806.50","$2,379.65",9.59%
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,"$9,950.00","$10,051.42",-$101.42,-1.01%
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,"$25,968.75","$26,267.98",-$299.23,-1.14%
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,"$26,338.08","$24,053.00","$2,285.08",9.5%

In [382]:
port['Maturity'] = port['Description'].str[-8:]

def extract_coupon(description):
    coupon = ''
    for s in range(len(description)):
        if description[s].isnumeric() or description[s] == '.':
            coupon =  coupon + description[s]
            #print(c)
        if description[s] == '%':
            break 
    try:
        float(coupon)
    except:
        coupon = coupon[1:]
        float(coupon)
    return coupon

In [383]:
port['Coupon'] = port['Description'].apply(lambda x: helpers.extract_coupon(x))

In [384]:
port['Maturity'] = pd.to_datetime(port['Maturity'])

In [390]:
port['Days_left'] = pd.to_datetime(port['Maturity'] - np.datetime64(today), M)

NameError: name 'M' is not defined

In [386]:
port

,Symbol,Description,Quantity,Price,Market Value,Cost Basis,Gain/Loss $,Gain/Loss %,Maturity,Coupon,Days_left
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,"$25,156.25","$25,352.14",-$195.89,-0.77%,2022-10-01,5.375,774 days
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,"$27,186.15","$24,806.50","$2,379.65",9.59%,2023-12-15,3.7,1214 days
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,"$9,950.00","$10,051.42",-$101.42,-1.01%,2022-09-15,5,758 days
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,"$25,968.75","$26,267.98",-$299.23,-1.14%,2025-05-31,5.375,1747 days
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,"$26,338.08","$24,053.00","$2,285.08",9.5%,2023-07-15,3,1061 days
5,34540TTJ1,FORD MOTOR CO 4.4%25 DUE 06/20/25,"25,000",$91.59,"$22,896.65","$25,188.36","-$2,291.71",-9.1%,2025-06-20,4.4,1767 days
6,36962G5J9,GENERAL ELECTRIC 4.65%21 DUE 10/17/21,"25,000",$103.35,"$25,837.15","$25,375.12",$462.03,1.82%,2021-10-17,4.65,425 days
7,527288BE3,JEFFERIES FINL GR 5.5%23 DUE 10/18/23,"10,000",$110.34,"$11,034.09","$11,215.93",-$181.84,-1.62%,2023-10-18,5.5,1156 days
8,46625HJC5,JPMORGAN CHASE & 4.35%21 DUE 08/15/21,"25,000",$103.97,"$25,993.33","$25,332.98",$660.35,2.61%,2021-08-15,4.35,362 days
9,61166WAU5,MONSANTO CO 3.375%24 DUE 07/15/24,"15,000",$105.25,"$15,787.40","$15,830.16",-$42.76,-0.27%,2024-07-15,3.375,1427 days
10,71654QCB6,PETROLEOS MEXI6.875% 26F DUE 08/04/26,"25,000",$100.53,"$25,132.38","$25,884.01",-$751.63,-2.9%,2026-08-04,6.875,2177 days
11,74348Y2V2,PROSPECT CAPITAL MA 4%25 DUE 01/15/25,"10,000",$93.18,"$9,317.63","$9,950.00",-$632.37,-6.36%,2025-01-15,4,1611 days
12,747262AU7,"QVC, INC. 4.45%25 DUE 02/15/25","4,000",$102.75,"$4,110.00","$4,140.26",-$30.26,-0.73%,2025-02-15,4.45,1642 days
13,44106MBA9,SERVICE PROPERTI 4.75%26 DUE 10/01/26,"25,000",$89.29,"$22,323.20","$25,686.92","-$3,363.72",-13.1%,2026-10-01,4.75,2235 days
14,858119BH2,"STEEL DYNAMICS, 4.125%25 DUE 09/15/25","9,000",$102.38,"$9,213.75","$9,264.17",-$50.42,-0.54%,2025-09-15,4.125,1854 days

In [ ]:
# TODO: calc months to maturity, number of coupons, and $ amount of coupons