In [340]:
import pandas as pd 
import numpy as np
import helpers
from datetime import date

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [341]:
today = date(2020, 8, 16)

In [345]:
#df = pd.read_clipboard()

In [361]:
df = pd.read_csv('port.csv', index_col=0)

In [362]:
#df.to_csv('port.csv')

In [363]:
port = df
port.head()

,Symbol,Description,Quantity,Price,Price Change $,Price Change %,Market Value,Day Change $,Day Change %,Cost Basis,Gain/Loss $,Gain/Loss %
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,NaN,NaN,"$25,156.25",NaN,NaN,"$25,352.14",-$195.89,-0.77%
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,NaN,NaN,"$27,186.15",NaN,NaN,"$24,806.50","$2,379.65",9.59%
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,NaN,NaN,"$9,950.00",NaN,NaN,"$10,051.42",-$101.42,-1.01%
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,NaN,NaN,"$25,968.75",NaN,NaN,"$26,267.98",-$299.23,-1.14%
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,NaN,NaN,"$26,338.08",NaN,NaN,"$24,053.00","$2,285.08",9.5%

In [350]:
port.drop(columns=['Price Change $', 'Price Change %', 'Day Change $', 'Day Change %'], inplace=True)

In [351]:
port.head()

,Symbol,Description,Quantity,Price,Market Value,Cost Basis,Gain/Loss $,Gain/Loss %
0,881609AZ4,ANDEAVOR 5.375%22 DUE 10/01/22,"25,000",$100.63,"$25,156.25","$25,352.14",-$195.89,-0.77%
1,774341AE1,COLLINS AEROSPACE 3.7%23 DUE 12/15/23,"25,000",$108.74,"$27,186.15","$24,806.50","$2,379.65",9.59%
2,212015AH4,CONTINENTAL RESOURC 5%22 DUE 09/15/22,"10,000",$99.50,"$9,950.00","$10,051.42",-$101.42,-1.01%
3,25278XAH2,DIAMONDBACK ENE 5.375%25 DUE 05/31/25,"25,000",$103.88,"$25,968.75","$26,267.98",-$299.23,-1.14%
4,30219GAQ1,EXPRESS SCRIPTS HOL 3%23 DUE 07/15/23,"25,000",$105.35,"$26,338.08","$24,053.00","$2,285.08",9.5%

In [352]:
port['Maturity'] = port['Description'].str[-8:]

def extract_coupon(description):
    coupon = ''
    for s in range(len(description)):
        if description[s].isnumeric() or description[s] == '.':
            coupon =  coupon + description[s]
            #print(c)
        if description[s] == '%':
            break 
    try:
        float(coupon)
    except:
        coupon = coupon[1:]
        float(coupon)
    return coupon

In [353]:
port['Coupon'] = port['Description'].apply(lambda x: helpers.extract_coupon(x))

In [354]:
port['Maturity'] = pd.to_datetime(port['Maturity'])

In [356]:
port['Days_left'] = port['Maturity'] - today

TypeError: unsupported operand type(s) for -: 'DatetimeIndex' and 'datetime.date'